<div>
    <a href="/dashboard">Back to dashboard</a>
</div>

<div>
    <a href="/upload">Upload files</a>
</div>


<% if(response!=null) { %>
    <table>
        <tr>
            <th>name</th>
            <th>id </th>
            <th>url</th>

        </tr>
        <% response.forEach(function(item){ %>
            <tr>
                <td>
                    <%= item.name%>
                </td>
                <td>
                    <%= item._id %>
                </td>
                <td>a
                    <a href="<%= item.url %>" class="btn btn-primary" role="button">Download</a>

                </td>

            </tr>
            <% }) %>
    </table>
    <% } %>